<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bottle.track">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="@string/amap_app_key" />

        <service android:name="com.amap.api.location.APSService" />
        <service android:name="com.bottle.track.app.service.TrekService" />

        <activity
            android:name=".home.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106494457" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.bottle.track.base.ui.coordinatorlayout.AppBarLayoutActivity" />
        <activity android:name="com.bottle.track.base.ui.coordinatorlayout.CollapsingToolbarLayoutActivity" />
        <activity android:name=".home.user.login.LoginActivity" />
        <activity android:name=".home.collection.trackpreview.TrackPreviewActivity" />
        <activity android:name=".home.collection.trackedit.TrackEditorActivity" />
        <activity
            android:name=".home.search.search.PoiSearchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".home.search.preview.PoiPreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".home.collection.poiedit.PoiEditorActivity" />
        <activity android:name=".home.collection.poipreview.PoiPreviewActivity2"></activity>
    </application>

</manifest>